@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: rgb(90, 136, 137) !important;
}

.btn {
  margin: 5px;
}

.namez {
  flex-wrap: wrap;
  margin-left: 225px;
  margin-bottom: 50px;
}

.navStylez {
  margin-top: 225px;
  margin-left: 450px;
  .search-bar {
    width: 400px;
  }
}

.todoStylez {
 margin-left: 325px;
}

.todoz {
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  width: 800px;
  height: 80px;
  .btn-success {
    float: left;
  }
  .btn-info, .btn-danger {
      float: right;
    }
}